@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.header-area {
  background-image: url("/a2e1045c22159eba4d0013254a6fc40f.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
  animation: move-image 15s ease-in-out infinite alternate both;
}

.header-area h1 {
  color: rgb(236, 236, 236);
  font-size: 4rem;
  margin-bottom: 100px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 10px 10px 10px rgb(30, 30, 30);
}

@keyframes move-image {
  0% {
    background-position-y: -300px;
  }
  100% {
    background-position-y: -400px;
  }
}

@media screen and (max-width: 600px) {
  .header-area {
    margin-top: -30px;
    animation: none;
  }
  .header-area h1 {
    font-size: 2.5rem;
  }

}

