@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: rgb(196, 196, 196);
  background: linear-gradient(
    173deg,
    rgba(196, 196, 196, 1) 0%,
    rgba(189, 189, 189, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}

#main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.result-area {
  margin-top: 20px;
}
.result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: rgb(33, 33, 33);
  text-align: center;
  line-height: 0px;
}
.result p {
  color: rgb(92, 203, 135);
  text-shadow: 2px 2px rgb(3, 33, 9);
}

.result:last-of-type {
  padding-bottom: 20px;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.611);
  width: 100%;
  height: 40px;
  box-shadow: 0px -3px 0 #d3aa73;
}
.footer-content {
  color: white;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}
.footer-content a {
  text-decoration: none;
  color: rgb(169, 232, 255);
}
.footer-content i {
  color: rgb(255, 240, 75);
  font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
  .result {
    font-size: 1.7rem;
    color: #e3e3e3;
  }
  body {
    background: #1B2431;
  }
}

.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.popup_popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.popup_popUp.show_popUp {
  opacity: 1;
}

.content_popUp {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  padding: 24px;
  border-radius: 16px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  max-width: 80%;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.8);
}

.content_popUp.show_popUp {
  opacity: 1;
  transform: scale(1);
}

.content_popUp.hide_popUp {
  opacity: 0;
  transform: scale(0.8);
}

.message_popUp {
  margin-bottom: 24px;
  word-wrap: break-word;
}

.btn_popUp {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn_popUp:before {
  content: "OK";
  display: block;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
  color: #007aff;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.btn_popUp:hover:before {
  background-color: #007aff;
  color: #ffffff;
}

.btn_popUp:active:before {
  transform: scale(0.9);
}

.btn_popUp:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 768px) {
  .content_popUp {
    max-width: 80%;
  }
}